/* -----------PROPRIETES GENERALES-----------*/


html body
{
    margin: 0px;
}

p,ul,a,h1,h2,h3,h4, input
{
    font-family: FontAwesome, Raleway;
}

/* -----------HEADER-----------*/
/* A faire : 
-adapter pour mobile 250px
-revoir les positions exactes du logo et du bouton s'inscrire sur mobile
*/

.logo
{
    position: absolute;
    top : 25px;
    left: 25px;

}

header
{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2em;
    margin-left: 2em;
    padding-bottom: 20px;
    justify-content: flex-end;
}
.header
{
    display: flex;
    margin-left: 95px;
 
}
.header > a
{
   text-decoration: none;
   display: flex;
   width: 150px ;
   height:60px;
   align-items: flex-end;
   justify-content: center;
   border-top: solid 3px white;
}

.header > a:hover
{
    color: #0065FC;
    border-top: solid 3px #0065FC
}

.header > a:visited
{
    color:black;
}

header > a
{
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
    display: flex;
    width: 150px;
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    border-top: solid 3px white;
}

header > a:hover
{
    border-top: solid 3px #0065FC;
}

/* -----------CONTENU-----------*/

.contenu
{
    margin-left: 2em;
    margin-right: 2em;
}

/* -----------BARRE DE RECHERCHE ET FILTRES-----------*/

#searchbox
{
    height: 3em;
    display: flex;
}

input
{
    height: 100%;
    font-weight: bold;
}

button
{
    border-top-left-radius: 20% ;
    border-bottom-left-radius: 20%;
    border: solid 1px #f2f2f2;
    background-color: #f2f2f2;
    width: 50px;

}

.champs
{
    border-radius: 0%;
    border: solid 1px #f2f2f2;
    padding:1em;
    width: 250px;
}

.boutonrechercher
{
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border: solid 1px #0065FC;
    background-color: #0065FC;
    color:white;
    width: 100px;
}

#loupe
    {
        display: none;
    }

/* -----------FOOTER-----------*/

footer
{
    background-color: #f2f2f2;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.footer
{
    padding: 2em;
    margin-right: 130px;
}

.footer > p > a 
{
    text-decoration: none;
}

.footer > p > a:visited
{
    color: black;
}

h3
{
    display:flex;
    justify-content: flex-start;
}

/* -----------RESPONSIVE DESIGN-----------*/

@media screen and (max-width: 650px) /*Mobile*/
{
    header
    {
        flex-wrap: wrap-reverse;
        margin: 0;
        padding-bottom: 0px;
    }

    .header
    {
        margin: 0;
        width: 100%;
    }

    .header > a 
    {
        width: 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #DEEBFF;
    }

    header > a
    {
        width: 150px;
        height: 57px;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }

    .header > a:hover
    {
        border-bottom: solid 3px #0065FC;
        border-top: solid 3px white;
    }
    
    .champs
    {
        width: auto;
        display: flex;
        padding: auto;
        padding-left:30px;
         ;
    }

    .boutonrechercher
    {
        display: none;
    }
    #loupe
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        border-radius:20%;
        border: solid 1px #DEEBFF;
        background-color: #0065FC;
        color:white;
    }
}

@media screen and (max-width: 991px)
{

}

@media screen and (max-width: 1199px)
{

}