/* -----------PROPRIETES GENERALES-----------*/


html body
{
    margin: 0px;
}

p,ul,a,h1,h2,h3,h4, input
{
    font-family: FontAwesome, Raleway;
}

h1
{
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 10px;
}

h1 + p 
{
    margin-top: 0px;
}


/* -----------HEADER-----------*/
/* A faire : 
-adapter pour mobile 250px
-revoir les positions exactes du logo et du bouton s'inscrire sur mobile
*/

.logo
{
    position: absolute;
    top : 30px;
    left: 50px;

}

header
{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2em;
    margin-left: 2em;
    padding-bottom: 20px;
    justify-content: flex-end;
}
.header
{
    display: flex;
    margin-left: 95px;
 
}
.header > a
{
   text-decoration: none;
   display: flex;
   width: 150px ;
   height:60px;
   align-items: flex-end;
   justify-content: center;
   border-top: solid 3px white;
}

.header > a:hover
{
    color: #0065FC;
    border-top: solid 3px #0065FC
}

.header > a:visited
{
    color:black;
}

header > a
{
    text-decoration: none;
    font-weight: 900;
    color: #0065FC;
    display: flex;
    width: 150px;
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    border-top: solid 3px white;
}

header > a:hover
{
    border-top: solid 3px #0065FC;
}

/* -----------CONTENU-----------*/

.contenu
{
    margin-left: 3em;
    margin-right: 3em;
}

/* -----------BARRE DE RECHERCHE ET FILTRES-----------*/


#searchbox
{
    display: flex;
    width: 420px;
    height: 50px;
}

input
{
    font-weight: bold;
    display: flex;

}

#ville
{
    border-top-left-radius: 20% ;
    border-bottom-left-radius: 20%;
    border: 0px;
    background-color: #f2f2f2;
    width: 50px;
    height: 100%;

}

#champs
{
    border-radius: 0%;
    border: solid 1px #f2f2f2;
    padding-left:10px;
    height: 50px;
    font-weight: 900;
    font-size: 1.3em;
    width: 50px;
    height: 46px;
    flex: 1;
}

#boutonrechercher
{
    border-radius: 0 15px 15px 0 ;
    border: 0px;
    background-color: #0065FC;
    color:white;
    width: 130px;
    height: 100%;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 600;
}

#loupe
    {
        display: none;
    }

/* -----------FOOTER-----------*/

footer
{
    background-color: #f2f2f2;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.footer
{
    padding: 2em;
    margin-right: 130px;
}

.footer > p > a 
{
    text-decoration: none;
}

.footer > p > a:visited
{
    color: black;
}

h3
{
    display:flex;
    justify-content: flex-start;
}

/* ----------------------RESPONSIVE DESIGN----------------------*/

@media screen and (max-width: 630px) /* Petite Tablette*/
{
    /* -----------PROPRIETES GENERALES RESPONSIVE-----------*/

    .contenu
    {
        margin-left: 1em;
        margin-right: 1em;
    }

    .logo
    {
        top:30px;
        left: 20px;
    }

    /* -----------RESPONSIVE HEADER-----------*/
    header
    {
        flex-wrap: wrap-reverse;
        margin: 0;
        padding-bottom: 0px;
    }

    .header
    {
        margin: 0;
        width: 100%;
    }

    .header > a 
    {
        width: 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #DEEBFF;
    }

    header > a
    {
        width: 150px;
        height: 57px;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }

    .header > a:hover
    {
        border-bottom: solid 3px #0065FC;
        border-top: solid 3px white;
    }

    
}

@media screen and (max-width: 450px) /*Mobile*/
{
    /* -----------RESPONSIVE BARRE DE RECHERCHE ET FILTRES-----------*/

    #searchbox
    {
        width: 100%;
    }

    #champs
    {
        flex:1;
        width: 50px;
        height: 46px;
        display: flex;
        font-size: 1em;
        padding-left: 10px;
        
    }

    #boutonrechercher
    {
        display: none;
    }
    #loupe
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 48px;
        border-radius:20%;
        border: solid 1px #DEEBFF;
        background-color: #0065FC;
        color:white;
        margin-left: -10px;
    }

}

@media screen and (max-width: 250px)
{
    header
    {
        display: block;
    }

    .header
    {
        flex-direction: column ;
    }

    .logo
    {
        position: relative;
        margin-bottom: 20px;
    }

    header > a
    {
        width: 100%;
    }

    .header > a
    {
        width: 100%;
    }
}