/* -----------PROPRIETES GENERALES-----------*/


html body
{
    margin: 0px;
}

p,ul,a,h1,h2,h3,h4
{
    font-family: Raleway;
}

a:visited
{
    text-decoration: none;
}



/* -----------HEADER-----------*/

.logo
{
    position: absolute;
    top : 20px;
    left: 20px;

}

header
{
    display: flex;
    margin-right: 2em;
    margin-left: 2em;
    justify-content: flex-end;
}
.header
{
    display: flex;
 
}
.header > a
{
   text-decoration: none;
   display: flex;
   width: 150px ;
   height:60px;
   align-items: flex-end;
   justify-content: center;
   border-top: solid 3px white;
}

.header > a:hover
{
    color: #0065FC;
    border-top: solid 3px #0065FC
}

header > a
{
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
    display: flex;
    width: 150px;
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    border-top: solid 3px white;
}

header > a:hover
{
    border-top: solid 3px #0065FC;
}

/* -----------CONTENU-----------*/

.contenu
{
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
}



/* -----------FOOTER-----------*/

footer
{
    background-color: #f2f2f2;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.footer
{
    padding: 2em;
    margin-right: 150px;
}

.lienfooter
{
    text-decoration: none;
}

h3
{
    display:flex;
    justify-content: flex-start;
}

/* -----------RESPONSIVE DESIGN-----------*/

@media screen and (max-width: 768px) /*Mobile*/
{

}

@media screen and (max-width: 991px)
{

}

@media screen and (max-width: 1199px)
{

}