/* ----------------------DESKTOP----------------------*/
 
/* -----------PROPRIETES GENERALES-----------*/

    html body
    {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    

    p,ul,a,h1,h2,h3,h4, input
    {
        font-family: "FontAwesome","Raleway", Arial;
    }

    h1
    {
        font-weight: bold;
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    h1 + p 
    {
        margin-top: 0px;
    }

    /* -----------HEADER-----------*/

    .logo
    {
        position: absolute;
        top : 30px;
        left: 50px;

    }

    header
    {
        display: flex;
        flex-wrap: wrap;
        margin-right: 2em;
        margin-left: 2em;
        padding-bottom: 20px;
        justify-content: flex-end;
    }
    .header
    {
        display: flex;
        margin-left: 95px;
    
    }
    .header > a
    {
    text-decoration: none;
    color:black;
    display: flex;
    width: 150px ;
    height:60px;
    align-items: flex-end;
    justify-content: center;
    border-top: solid 3px white;
    }

    .header > a:hover
    {
        font-weight: bold;
        color : #0065FC;
        border-top: solid 3px #0065FC;
        

    }

    header > a
    {
        text-decoration: none;
        font-weight: bold;
        color: #0065FC;
        display: flex;
        width: 150px;
        height: 60px;
        align-items: flex-end;
        justify-content: center;
        border-top: solid 3px white;
    }

    header > a:hover
    {
        border-top: solid 3px #0065FC;
    }

       /* -----------BARRE DE RECHERCHE-----------*/


       #searchbox
       {
           display: flex;
           width: 420px;
           height: 50px;
       }
   
       input
       {
           font-weight: bold;
           display: flex;
   
       }
   
       #ville
       {
           border-top-left-radius: 20% ;
           border-bottom-left-radius: 20%;
           border: 0px;
           background-color: #f2f2f2;
           width: 50px;
           height: 100%;
   
       }
   
       #champs
       {
           border-radius: 0%;
           border: solid 1px #f2f2f2;
           padding-left:10px;
           height: 50px;
           font-weight: bold;
           font-size: 1em;
           font-weight: bold;
           width: 50px;
           height: 46px;
           flex: 1;
       }
   
       #boutonrechercher
       {
           border-radius: 0 15px 15px 0 ;
           border: 0px;
           background-color: #0065FC;
           color:white;
           width: 135px;
           height: 100%;
           justify-content: center;
           font-size: 1.1em;
           font-weight: bold;
       }
   
       #loupe
           {
               display: none;
           }
   
       /* -----------FILTRES-----------*/
   
       #filtres
       {
           margin-top: 30px;
           margin-bottom: 20px;
           display: flex;
           flex-wrap: wrap;
       }
   
       #filtres > p
       {
           font-weight: bold;
           margin-right: 30px;
       }
   
       #filtres > a
       {
           display: flex;
           justify-content: center;
           align-items: center;
           width: auto;
           height: 44px;
           background-color: white ;
           border: solid 3px #f2f2f2;
           border-radius: 50px 50px 50px 50px;
           padding-right: 1em;
           text-decoration: none;
           color: black;
           font-weight: bold;
           margin-right: 20px;
           margin-top: 5px;
           margin-bottom: 5px;
       }
   
       #filtres > a > i 
   
       {
           display: flex;
           align-items: center;
           justify-content: center;
           background-color: #DEEBFF;
           color: #0065FC;
           height: 50px;
           width: 50px;
           border-radius: 50%;
           margin-right: 0.5em;
           margin-left: -5px;
       }
   
       #filtres > a:hover
       {
           background-color: #f2f2f2 ;
       }
   
       /* -----------INFOS-----------*/

       #info
       {
           display: flex;
           align-items: center;
           margin-bottom: 20px;
       }
   
       #info > i 
       {
           display: flex;
           justify-content: center;
           align-items: center;
           width: 24px;
           height: 24px;
           border:solid 1px #DEEBFF;
           border-radius: 50%;
           color: #0065FC;
       }
   
       #info > p 
       {
           margin-left: 10px;
           flex:1;
       }

    /* -----------CONTENU-----------*/

    .contenu
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    #section-deux
    {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-bottom: 50px;
    }

    /* -----------HEBERGEMENTS A MARSEILLE-----------*/

    #hebergements /*Block hébergements*/
    {
        background-color: #f2f2f2;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        padding: 40px 40px 40px 40px;
    }

    #hebergements > h2 /*Titre*/
    {
        width: 100%;
        font-weight: bold;
        margin: 0 0 20px 10px;
    }

    #hebergements > a /*Cartes cliquables*/
    {
        width: 230px;
        height: 200px;
        border-radius: 20px;
        padding: 5px;
        background-color: white;
        text-decoration:none;
        color: black;
        margin-bottom: 30px;
        box-shadow: 0 0px 10px 0px rgb(170, 170, 170);
    }

    #hebergements > a > div > img   /*Images*/
    {
        width: 100%;
        height: 115px;
        border-radius: 20px  20px 0 0;
        object-fit: cover;
    }

    #hebergements > a > div > h3 /*Description*/
    {
        font-weight: bold;
        margin: 5px 0 5px 10px;
    }

    #hebergements > a > div > p 
    {
        margin: 0 0 5px 10px;
    }

    #hebergements > a > div > span /*Etoiles*/
    {
        margin: 0 0 10px 10px;
        color: #0065FC;
    }

    #hebergements > a > div > .etoilegrise
    {
        color:#f2f2f2;
        margin-left: 0px;
    }

    #hebergements > div /*Afficher plus*/
    {
        width: 100%;
    }

    #hebergements > div > a
    {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    /* -----------LES PLuS POPULAIRES-----------*/

    #lespluspopulaires /*Block*/
    {
        width:340px;
        margin-left: 40px;
        background-color: #f2f2f2;
        border-radius: 20px;
        padding: 40px;
    }

    #lespluspopulaires > #titrepopulaire /*Titre*/
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin : 0 0 32px 10px;
    }

    #lespluspopulaires > #titrepopulaire > h2
    {
        margin: 0;
    }

    #lespluspopulaires > a /*Cartes cliquables*/
    {
        display: flex;
        
        height: 135px;
        border-radius: 20px;
        padding: 5px;
        background-color: white;
        text-decoration:none;
        color: black;
        margin-bottom: 30px;
        box-shadow: 0 0px 10px 0px rgb(170, 170, 170);
    }

    #lespluspopulaires > a > div 
    {
        display: flex;
    }

    #lespluspopulaires > a > div > img /*Images*/
    {
        height: 100%;
        width: 125px;
        border-radius: 20px 0 0 20px;
        object-fit: cover; 
    }

    #lespluspopulaires > a > div > div /*Description*/
    {
        margin-left: 20px;
    }

    #lespluspopulaires > a > div > div > h3 
    {
        font-weight: bold;
        margin: 10px 0 5px 10px;
    }

    #lespluspopulaires > a > div > div > p 
    {
        margin: 0 0 30px 10px;
    }

    #lespluspopulaires > a > div > div > span /*Etoiles*/
    {
        margin: 0 0 10px 10px;
        color: #0065FC;
    }

    #lespluspopulaires > a > div > div > .etoilegrise
    {
        color:#f2f2f2;
        margin-left: 0px;
    }

    /* -----------ACTIVITES-----------*/

    #section-trois  /*Block*/
    {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        max-width: 1334px;
        height: auto;
        margin-left: 50px;
        margin-right: 0;
        margin-bottom: 60px;
    }

    #section-trois > h2 /*Titre*/
    {
        width: 100%;
    }

   #pack-un, #pack-deux /*Disposition cartes*/
   {
       display: flex;
       flex-wrap: wrap;
       flex:1;
        justify-content: space-around;
        max-width: 665px;
   }

   .colonne
   {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

   

   .petite > a > div /*Petites cartes*/
   {
       width: 302px;
       height: 165px;
       border-radius: 20px 20px 20px 20px;
       box-shadow: 0 0px 10px 0px rgb(170, 170, 170);
   }
  .petite > a > div > img 
   {
        object-fit: cover;
        width: 302px;
        height: 110px;
        border-radius: 20px 20px 0 0;
   }


   .moyenne > a > div /*Moyennes cartes*/
   {
       width: 302px;
       height: 235px;
       border-radius: 20px 20px 20px 20px;
       box-shadow: 0 0px 10px 0px rgb(170, 170, 170);
   }
  .moyenne > a > div > img
   {
        object-fit: cover;
        width: 302px;
        height: 180px;
        border-radius: 20px 20px 0 0;
   }



   .grande > a > div > img /*Grandes cartes*/
   {
        object-fit: cover;
        width: 302px;
        height: 390px;
        border-radius: 20px 20px 0 0;
   }

 
    
    .grande > a > div
    {
        width: 302px;
        height: 445px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0 0px 10px 0px rgb(170, 170, 170);
    }

    .petite > a > div > h3 /*Nom cliquable*/
    {
        margin-top: 10px;
        margin-left: 20px;
        color:black;
    }

    .petite > a 
    {
        text-decoration: none;
    }

    .moyenne > a > div > h3 
    {
        margin-top: 10px;
        margin-left: 20px;
        color:black;
    }

    .moyenne > a 
    {
        text-decoration: none;
    }

    .grande > a > div > h3 
    {
        margin-top: 10px;
        margin-left: 20px;
        color:black;
    }

    .grande > a 
    {
        text-decoration: none;
    }

    

    
    /* ----------------------FOOTER----------------------*/

    footer
    {
        background-color: #f2f2f2;
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }

    .footer
    {
        padding: 2em;
        margin-right: 130px;
    }

    .footer > p > a 
    {
        text-decoration: none;
    }

    .footer > p > a:visited
    {
        color: black;
    }

    .footer > h3
    {
        display:flex;
        justify-content: flex-start;
    }


/* ----------------------RESPONSIVE DESIGN----------------------*/

@media screen and (max-width: 1439px) /* Laptop*/
{
  /*Les plus populaires width 100%*/

  #lespluspopulaires
  {
      width: 800px;
      margin-left: 0px;
      margin-bottom: 40px;
  }
}
  @media screen and (min-width: 1440px)
{
  #section-un, #section-trois
  {
      margin-left: 50px;
      margin-right: 50px;
  }

  #hebergements
  {
      margin-left: 50px;
  }

}

@media screen and (max-width: 700px) /* Petite Tablette*/
{
    /* -----------PROPRIETES GENERALES RESPONSIVE-----------*/

    .contenu
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    #section-un, #hebergements, #section-trois
    {
        margin-left: 10px;
        margin-right: 10px;
    }

 
    

    /*AJOUTER DES DIVS POUR CREER UNE MARGE EN VERSION TABLETTE ET MOBILE*/

    /* -----------RESPONSIVE HEADER-----------*/

    header
    {
        flex-wrap: wrap-reverse;
        margin: 0;
        padding-bottom: 0px;
    }

    .logo
    {
        top:30px;
        left: 20px;
    }

    .header
    {
        margin: 0;
        width: 100%;
    }

    .header > a 
    {
        width: 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #DEEBFF;
    }

    header > a
    {
        width: 150px;
        height: 57px;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }

    .header > a:hover
    {
        border-bottom: solid 3px #0065FC;
        border-top: solid 3px white;
    }

    #filtres > a /*Filtres tassés pour tablette et mobile*/
    {
        margin-right: 10px;
    }

    #hebergements /*Cartes d'hebergements width 100%*/
    {
        background-color: white;
        padding: 0;
    }
    #hebergements > a 
    {
        width: 100%;
    }
    
    #hebergements > h2
    {
        margin-left: 0;
    }

    #lespluspopulaires
    {
        border-radius: 0;
    }

    #lespluspopulaires > #titrepopulaire
    {
        justify-content: space-around;
    }

}

@media screen and (max-width: 450px) /*Mobile*/
{

    #searchbox /*Barre de recherche mobile*/
    {
        width: 100%;
    }

    #champs
    {
        flex:1;
        width: 50px;
        height: 46px;
        display: flex;
        font-size: 1em;
        font-weight: bold;
        padding-left: 10px;
        
    }

    #boutonrechercher
    {
        display: none;
    }
    #loupe
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius:20%;
        border: solid 1px #DEEBFF;
        background-color: #0065FC;
        color:white;
        margin-left: -10px;
    }

    #filtres > p /*Filtres (retour à la ligne)*/
    {
        width: 100%;
    }

    #filtres > a
    {
        margin-left: 0px;
    }

    #lespluspopulaires /*Block Populaire Mobile*/
    {
        padding-right: 0 ;
        padding-left: 0;
        padding-bottom: 0;
        width: 100%;
    }

    #lespluspopulaires > a /*Cartes mobile*/
    {
        height: 145px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #lespluspopulaires > a > div > div /*Gain d'espace dans les cartes*/
    {
        margin-left: 5px;
        overflow:hidden;
    }
}

@media screen and (max-width: 250px) /*Petit écran*/
{
    header /*MINI HEADER*/
    {
        display: block;
    }

    .header
    {
        flex-direction: column ;
    }

    .logo
    {
        position: relative;
        margin-bottom: 20px;
    }

    header > a
    {
        width: 100%;
    }

    .header > a
    {
        width: 100%;
    }
}